 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3493px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 45px;
  height: auto;
  min-height: 3403px;
  margin-top: 45px;
}